<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<form th:action="@{/registration}" method="post" th:object="${user}">
<div style="background-color:#41aaa2; height:400px; width:400px; border-radius:30px; text-align:center;" class="col-md-offset-4">
    <h1 style="text-align:center; padding-top:30px; color:#ffffff;">Sign Up</h1>

    <div class="col-sm-12" style="padding-top:10px;">
        <input type="text" class="form-control" id="firstname" th:field="*{firstName}" placeholder="First Name" name="firstname" style="border-radius:15px;">
    </div>
    <div class="col-sm-12" style="padding-top:10px;">
        <input type="text" class="form-control" id="lastname" th:field="*{lastName}" placeholder="Last Name" name="lastname" style="border-radius:15px;">
    </div>
    <div class="col-sm-12" style="padding-top:10px;">
        <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter email" name="email" style="border-radius:15px;">
    </div>

    <div class="col-sm-12" style="padding-top:10px;">
        <input type="text" class="form-control" id="password" placeholder="Type your Password" name="password" style="border-radius:15px;">
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-success">Register</button>
        <span>Already registered? <a href="/" th:href="@{/login}">Login
        here</a></span>
    </div>

</div>
</form>